<div class="row">
  <div class="col-md-12">
    <div
      ba-panel
      ba-panel-title="PPPOE Server"
      ba-panel-class="with-scroll"
      class="pppoe-server"
      >
      <form name='form'>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="interface">Select Interface to run PPPOE Server</label>
              <select name="interface"
                ng-change="updateSettings()"
                ng-model="$parent.settings.interface"
                ng-options="i.interface as i|interfaceName for i in $parent.interfaces"
                class="form-control"
                required></select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div
      ba-panel
      ba-panel-title="Accounts"
      ba-panel-class="with-scroll"
      class="pppoe-clients"
      >
      <div class="row top-btns">
        <div class="col-md-6">
          <button class="btn btn-success btn-sm" ng-click="newClient()">
            <i class="fa fa-plus">&nbsp;</i>
            Add Account
          </button>

          <button ladda="$parent.loading" class="btn btn-warning btn-sm" ng-click="loadClients()">
            Refresh list
          </button>
        </div>
        <div class="col-md-6 text-right hidden-sm hidden-xs">
          <button class="btn btn-warning btn-sm" ngf-select ngf-pattern="'.csv'" accept=".csv" ng-show="!import.file" ng-model="import.file" style="margin-right: 5px;">
            <i class="fa fa-file-csv">&nbsp;</i>
            Import Backup
          </button>
          
          <button class="btn btn-success btn-sm" ng-click="downloadBackup()">
            <i class="fa fa-file">&nbsp;</i>
            Download Backup
          </button>
        </div>

        <div class="col-md-6 visible-sm visible-xs">
          <button class="btn btn-warning btn-sm" ngf-select ng-show="!import.file" ng-model="import.file" style="margin-right: 5px;">
            <i class="fa fa-file-csv">&nbsp;</i>
            Import Backup
          </button>
          
          <button class="btn btn-success btn-sm" ng-click="downloadBackup()">
            <i class="fa fa-file">&nbsp;</i>
            Download Backup
          </button>
        </div>
      </div>
      <div class="row padd-top padd-bottom">
        <div class="col-md-12">
          <form>
            <div class="input-group">
              <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">
                <i class="fa fa-search"></i>
              </span>
              <input type="text" ng-model="$parent.q" ng-change="loadClients()" class="form-control with-primary-addon" placeholder="Search by username, ip address or status" aria-describedby="basic-addon1">
            </div>
          </form>
        </div>
      </div>
      <p></p>

      <div class="scrollable-x">
        <table class="table table-bordered">
          <thead>
            <th>Username
              <a href="javascript:void(0)" ng-click="toggleSort('username')">
                <i ng-show="!sort.username" class="fa fa-arrow-up sort-inactive" title="Sorting disabled"></i>
                <i ng-show="sort.username === 'asc'" class="fa fa-arrow-up" title="Ascending"></i>
                <i ng-show="sort.username === 'desc'" class="fa fa-arrow-down" title="Descending"></i>
              </a>
            </th>
            <th>Password</th>
            <th>IP Address
              <a href="javascript:void(0)" ng-click="toggleSort('ip_address')">
                <i ng-show="!sort.ip_address" class="fa fa-arrow-up sort-inactive" title="Sorting disabled"></i>
                <i ng-show="sort.ip_address === 'asc'" class="fa fa-arrow-up" title="Ascending"></i>
                <i ng-show="sort.ip_address === 'desc'" class="fa fa-arrow-down" title="Descending"></i>
              </a>
            </th>
            <th>Max Download</th>
            <th>Max Upload</th>
            <th>Status
              <a href="javascript:void(0)" ng-click="toggleSort('status')">
                <i ng-show="!sort.status" class="fa fa-arrow-up sort-inactive" title="Sorting disabled"></i>
                <i ng-show="sort.status === 'asc'" class="fa fa-arrow-up" title="Ascending"></i>
                <i ng-show="sort.status === 'desc'" class="fa fa-arrow-down" title="Descending"></i>
              </a>
            </th>
            <!-- <th>Data Usage</th> -->
            <th>Start Time
              <a href="javascript:void(0)" ng-click="toggleSort('started_at')">
                <i ng-show="!sort.started_at" class="fa fa-arrow-up sort-inactive" title="Sorting disabled"></i>
                <i ng-show="sort.started_at === 'asc'" class="fa fa-arrow-up" title="Ascending"></i>
                <i ng-show="sort.started_at === 'desc'" class="fa fa-arrow-down" title="Descending"></i>
              </a>
            </th>
            <th>Expiration</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-show="!$parent.clients.length">
              <td colspan="9">
                <center>- No records to show -</center>
              </td>
            </tr>
            <tr ng-repeat="client in $parent.clients">
              <td>{{client.username}}</td>
              <td>
                <span ng-show='client.show_password'>{{client.password}}</span>
                <span ng-hide='client.show_password'>************</span>
                <a href="javascript:void(0)" ng-click='client.show_password=true' ng-hide='client.show_password'>
                  <i class="fa fa-eye">&nbsp;</i>
                </a>
              </td>
              <td>{{client.ip_address}}</td>
              <td>{{client.max_download>0? client.max_download+"Kbps" : "Unlimited"}}</td>
              <td>{{client.max_upload>0? client.max_upload+"Kbps" : "Unlimited"}}</td>
              <td>
                {{client.status || 'disconnected'}}
              </td>
              <!-- <td>{{client.data_usage | bytes:2}}</td> -->
              <td>
                <center>{{client.started_at? (client.started_at | date:'short') : '-'}}</center>
              </td>
              <td>
                <span ng-show="!client.expire_minutes && !client.expiration_date">N/A</span>
                <span ng-show="client.expire_minutes || client.expiration_date" ng-class="{'text-danger': client.is_expired}">
                  {{ {expire_minutes: client.expire_minutes, expiration_date: client.expiration_date} | expirationtext }}
                  <sup ng-show="client.auto_bill">
                    <small class="text-success" style="font-weight:bold">(auto bill)</small>
                  </sup>

                  <sup ng-show="client.is_expired">
                    <small class="text-danger text-strong">(expired)</small>
                  </sup>
                </span>
              </td>
              <td>
                <a ng-show="client.auto_bill && !client.bill_url && client.is_expired" ng-click="fetchBill(client.id)" class="btn btn-warning btn-sm" ladda="fetchingBill == client.id">
                  Fetch Bill
                </a>

                <a ng-show="client.auto_bill && client.bill_url" ng-href="{{client.bill_url}}" class="btn btn-primary btn-sm" target="_blank">
                  <i class="fa fa-file">&nbsp;</i>
                  Pay Bill
                </a>
                <button class="btn btn-success btn-sm" ng-click="editClient(client.id, client)">
                  <i class="fa fa-pen">&nbsp;</i>
                  Edit
                </button>
                <button class="btn btn-danger btn-sm" ng-click="deleteClient(client.id)">
                  <i class="fa fa-trash">&nbsp;</i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>