<form class="modal-content edit-customer-modal" name="form">

  <div class="modal-header text-center">
    <button type="button" class="close" ng-click="$close()" aria-label="Close">
      <em class="fa fa-times sn-link-close"></em>
    </button>
    <h3 class="modal-title" id="myModalLabel">
      Edit PPPOE Account
    </h3>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error' : form.username.$invalid}">
      <label>Username:</label>
      <input class="form-control" type="text" name="username" ng-model="username" required>
      <span class="help-block" ng-show="form.username.$error.$invalid">This fieled is required</span>
    </div>

    <div class="form-group" ng-class="{'has-error' : form.password.$invalid}">
      <label>Password:</label>
      <input class="form-control" type="text" name="password" ng-model="password" required>
      <span class="help-block" ng-show="form.password.$error.$invalid">This fieled is required</span>
    </div>

    <div class="form-group" ng-class="{'has-error' : form.max_download.$invalid}" ng-hide="unlimited_bandwidth">
      <label>Max Download Speed (kbps):</label>
      <input class="form-control" type="number" name="max_download" ng-model="max_download" min="1" required>
      <span class="help-block" ng-if="form.max_download.$error.min">Minimum is 1</span>
    </div>

    <div class="form-group" ng-class="{'has-error' : form.max_upload.$invalid}" ng-hide="unlimited_bandwidth">
      <label>Max Upload Speed (kbps):</label>
      <input class="form-control" type="number" name="max_upload" ng-model="max_upload" min="1" required>
      <span class="help-block" ng-if="form.max_upload.$error.min">Minimum is 1</span>
    </div>

    <div ng-show="expiration_date && !auto_bill">
      <label>Expiration:</label>
      <input type="text" readonly value="{{expiration_date | date:'short'}}" class="form-control">

      <div>
        <div class="checkbox">
          <label class="custom-checkbox">
            <input type="checkbox" name="no_expiry" ng-model="extend_expiration">
            <span>
              Change/Extend Expiration
            </span>
          </label>
        </div>
      </div>

    </div>

    <div ng-class="{'has-success' : auto_bill}">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" name="auto_bill" ng-model="auto_bill">
          <span>
            Auto-bill monthly
          </span>
        </label>
      </div>
    </div>

    <div ng-if="auto_bill">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>
              Monthly Bill Amount
            </label>
            <input class="form-control" type="number" ng-model="$parent.billing_amount" placeholder="1299" required min="1">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>
              Customer Phone number
            </label>
            <input class="form-control" type="string" name="billing_phone_number" ng-model="$parent.billing_phone_number" placeholder="09xxxxxxxxx" minlength="11" maxlength="11" required ng-pattern="/^(\+?639|09)(\d{9})$/">

            <span class="help-block text-danger" 
                  ng-show="(form.billing_phone_number.$error.required || 
                           form.billing_phone_number.$error.number ||
                           form.billing_phone_number.$error.pattern) && form.billing_phone_number.$dirty">
                           Valid phone number is required
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>
              Billing Date
              <small>(day of the month to generate bill)</small>
            </label>
            <input class="form-control" type="number" ng-model="$parent.billing_date" placeholder="1" min="1" max="30" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>
              Due Date
              <small>(disconnection day)</small>
            </label>
            <input class="form-control" type="number" ng-model="$parent.billing_due_date" placeholder="5" placeholder="1" min="1" max="30" required>
          </div>
        </div>
      </div>
    </div>

    <div ng-hide="expiration_date && !extend_expiration || auto_bill">
      <div ng-class="{'has-error' : form.no_expiry.$invalid}">
        <div class="checkbox">
          <label class="custom-checkbox">
            <input type="checkbox" name="no_expiry" ng-model="no_expiration">
            <span>
              No Expiration
            </span>
          </label>
        </div>
      </div>
  
      <div class="form-group" ng-class="{'has-error' : form.expire_hours.$invalid}" ng-if="!no_expiration" ng-init="$parent.recomputeExpiration()" >
        <label>Expiration</label>
        <div class="row">
          <div class="col-md-6">
            <input class="form-control" type="number" name="expire_hours" min="1" ng-model="$parent.opts.expire_hours" ng-change="$parent.recomputeExpiration()" required>
          </div>
          <div class="col-md-6">
            <select class="form-control" ng-model="$parent.opts.expiration_unit" ng-change="$parent.recomputeExpiration()" ng-options="u for u in $parent.opts.expiration_units" required></select>
          </div>
        </div>
        <span class="help-block" ng-show="form.expire_hours.$error.min">Minimum is 1</span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="button-group">
      <button ladda="submitting" type="submit" ng-click="updateClient()" class="btn btn-success" ng-disabled="form.$invalid || form.$pristine">
        Update
      </button>
      <a class="btn btn-default" ng-click="$close()">Cancel</a>
    </div>
  </div>

</form>

